@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* base.html: navabar styling*/

.brand-logo {
    font-family: 'Eczar', sans-serif;
    text-transform: uppercase;
}

/* index. html: welcome card*/

h3 {
    margin-top: 0;
    font-weight: bold;
}

p {
    margin-top: 0;
    border-radius: 10px;
}

.hero-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

#mask {
    background-color: rgba(255, 95, 31, 0.7);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 2px 3px black;
    position: relative;
    padding: 20px;
    margin: 15% 25%;
}

footer {
    font-size: 20px;
    font-weight: bold;
}

/* Profile page styling */

.image-placeholder {
    font-size: 50px;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  /* show_recipe pages styling  */

