@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* base.html: navabar styling*/

.nav-logo {
    font-family: 'Eczar', sans-serif;
    text-transform: uppercase;
}

/* index. html: welcome card*/

#hero-image {
    min-height: 100vh;
    background-image: url('../images/salad-image.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    padding-top: 20px;
}

#mask {
    background-color: rgba(255, 95, 31, 0.7);
    border-radius: 10px;
    text-shadow: 1px 2px 3px black;
    margin: 20px 75px;
    padding: 8px;
}


.text {
    font-weight: bold;
    text-shadow: 1px 2px 3px black;
    margin-top: 0;
}

.social-icons {
    margin-right: 5px;
}

/* Profile page styling */

/* show_recipe pages styling  */

.recipe-display {
    text-align: justify;
    margin-bottom: 20px;
}

.img_recipe {
    display: block;
    margin: 0;
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.back {
    margin-bottom: 20px;
}

.recipe-card {
    padding: 0 20px;
}