{% extends "base.html" %}
{% block content %}

<h3 class="green-text text-darken-4 center-align">Add A Recipe</h3>
<div class="container">
    <div class="row card-panel lime lighten-4">
        <form class="col s12" method="POST" action="{{url_for('add_recipe')}}">
            <!-- Recipe name input-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix light-green-text text-darken-4"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" type="text" class="validate"
                        required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!--Timing input-->
            <div class="input-field col s12 m4">
                <i class="fas fa-stopwatch prefix light-green-text text-darken-4"></i>
                <input id="timing" name="timing" type="number" class="validate" required>
                <label for="timing">Duration (Minutes)</label>
            </div>
            <!--serves input-->
            <div class="input-field col s12 m4">
                <i class="fas fa-utensils prefix light-green-text text-darken-4"></i>
                <input id="servings" name="servings" type="number" class="validate" required>
                <label for="servings">Serves</label>
            </div>
            <!-- ingredients input-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-carrot prefix light-green-text text-darken-4"></i>
                    <textarea id="ingredients" name="ingredients"
                        placeholder="Please type each ingredient on a new line." type="text"
                        class="materialize-textarea validate" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            <!-- instructions input-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-blender prefix light-green-text text-darken-4"></i>
                    <textarea id="instructions" name="instructions"
                        placeholder="Please type each instruction on a new line." type="text"
                        class="materialize-textarea validate" required></textarea>
                    <label for="instructions">Instructions</label>
                </div>
            </div>
            <!-- file image input-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-images prefix light-green-text text-darken-4"></i>
                    <input id="image_url" name="image_url" type="url" pattern="https?://.+" class="validate" required>
                    <label for="image_url">URL of Image</label>
                    <span class="helper-text" data-error="enter valid URL" data-success="right"></span>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <a href="{{ url_for('profile', username=session['user']) }}"
                    class="waves-effect waves-light btn grey darken-4">Cancel
                </a>
                <button type="submit" class="btn waves-effect waves-light amber darken-2">
                    Add Recipe
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}