{% extends "base.html" %}
{% block content%}
<h3 class="center-align">Edit Profile</h3>
 <!-- initial code template taken from materialise to render card and input structure -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_profile', user_id=user.username) }}">
        <div class="card-panel #fffde7 yellow lighten-4">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix light-green-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="30" value="{{user.username}}" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- passowrd -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix light-green-text text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
             <!-- file image input-->    
           <div class="row"> 
            <div class="input-field col s12">
                <i class="fas fa-images prefix light-green-text text-darken-4"></i>
                <input id="user_image" name="user_image" type="url" pattern="https?://.+"  class="validate" required>
                <label for="user_image">Profile Image</label>
                <span class="helper-text" data-error="enter valid URL" data-success="right"></span>
            </div> 
        </div>
            <!-- save changes button -->
            <div class="row">
                <button type="submit" class="waves-effect waves-light btn-large light-green darken-4 text-shadow">
                    Save changes <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            New Here?
            <a href="{{ url_for('register') }}" class="light-green-text text-darken-4">Register Account</a>
        </p>
    </div>
</div>
{% endblock %}