{% extends "base.html" %}
{% block content%}
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="static/images/salad-image.jpg">
          <span class="card-title">Welcome to Genius Recipes</span>
        </div>
        <div class="card-content">
          <p>Sign up to Genius Recipes now to create your own directory of personal recipes! upload and share your genius recipes with others through this site. </p>
        </div>
        <div class="card-action">
        <a href="#" class="waves-effect waves-light light-green darken-4 btn-large">Register Now!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
            <img class="recipe_image" src="{{recipe.image_url}}" alt="recipe_image">
          <span class="card-title"> <strong>{{ recipe.recipe_name }}</strong></span>
        </div>
        <div class="card-content">
         <p>{{ recipe.ingredients }}</p>
         <p>{{ recipe.instructions }}</p>
        <div class="card-action">
          <a class="waves-effect waves-light red lighten-1 btn-small">Edit</a>
          <a class="waves-effect waves-light red lighten-1 btn-small">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
