{% extends "base.html" %}
{% block content%}
<h3 class="center-align">Register</h3>
 <!-- initial code template taken from materialise to render card and input structure -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix light-green-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[^\s][a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">userame</label>
                </div>
            </div>
            <!-- passowrd -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix light-green-text text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
           <!-- file image input-->    
           <div class="row"> 
            <div class="input-field col s12">
                <i class="fas fa-images prefix light-green-text text-darken-4"></i>
                <input id="user_image" name="user_image" type="url" pattern="https?://.+"  class="validate" required>
                <label for="user_image">Image url</label>
                <span class="helper-text" data-error="enter valid URL" data-success="right"></span>
            </div> 
        </div>
            <!-- register -->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-green darken-4 text-shadow">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already Registered?
            <a href="{{ url_for('login') }}" class="light-green-text text-darken-4">Log In</a>
        </p>
    </div>
</div>
{% endblock %}