{% extends "base.html" %}
{% block title %}
{{ recipe.recipe_name }} - Genius Recipes 
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-12 col-lg-8 mb-4">
      <div class="card shadow-2-strong recipe-card yellow lighten-4">
        <!-- Recipe Title -->
        <h5 class="card-title text-center">{{ recipe.recipe_name }}</h5>
        <div class="row">
          <div class="col-12 col-md-6 pt-3 text-center">
            <!-- Recipe Image -->
            {% if recipe.image_url %}
            <img src="{{ recipe.image_url }}" alt="recipe image" class="recipe-card-image responsive-img" />
            {% else %}
            <i class="recipe-card-image-placeholder fas fa-utensils"></i>
            {% endif %}
          </div>
           <!-- Recipe Details -->
           <div class="mt-2">
            <i class="fas fa-users pe-1"></i>Serves: {{ recipe.servings }}
          </div>
          <div class="mt-2">
            <i class="far fa-clock pe-1"></i>{{ recipe.timing }} minutes
          </div>
          <div class="col-12 col-md-6 pt-3">
            <!-- Recipe Ingredients --> 
            <h6 class="text-decoration-underline">Ingredients</h6>
            <ul>
              {% for list in recipe.ingredients.splitlines() %}
              <li>
                <p><i class="fas fa-circle"></i>{{list}}</p>
              </li>
              {% endfor %}
            </ul>   
          </div>
          <div class="col-12 col-md-6 pt-3">
            <!-- Recipe Ingredients --> 
            <h6 class="text-decoration-underline">Instructions</h6>
            <ul>
              {% for steps in recipe.instructions.splitlines() %}
              <li>
                <p>{{steps}}</p>
              </li>
              {% endfor %}
            </ul>   
          </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <small>
                <a class="recipe-card-link" href="{{ url_for('profile', username=recipe.created_by) }}">
                  <i class="fas fa-user-circle pe-1"></i>Added by: {{ recipe.create_by }}
                </a>
                {% if session.user == recipe.created_by %}
              </small>
              <a class="btn btn-sm ms-auto btn-outline-dark light-green"
                href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" role="button">
                Edit Recipe
              </a>
            </a>
            <a class="waves-effect waves-light deep-orange lighten-1 btn-small">Delete Recipe</a>
            </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <a href="{{ url_for('all_recipes')}}" class="waves-effect waves-light btn light-green darken-4">Back to Recipes</a> 
    </div>
    </div>
  </div>
</div>
{% endblock %}