{% extends "base.html" %}
{% block content%}
 <!-- Title -->
 <div class="row">
  <h3 class="center-align">{{recipe.recipe_name}}</h3>
</div>

<div class="container">
  <!-- Image and info -->
  <div class="row">
      <div class="col s4">
          <h6>Persons: {{recipe.serves}}</h6>
          <h6>Prepping time: {{recipe.prep_time}}</h6>
          <br>
          <h6>Category: {{recipe.category_name}}</h6>
          <h6>Created by: {{recipe.created_by}}</h6>
      </div>
      <div class="col s8"> 
              <img class="img_recipe" src="{{recipe.img_url}}" alt="recipe_image">
      </div>
  </div>
  <!-- Ingredients and instructions -->
  <div class="row">
      <div class="col s4 custom-col">
          <h4>Ingredients</h4>
          <ul>
              {% for list in recipe.ingredients.splitlines() %}
                  <li>
                      <p><i class="fas fa-circle"></i> {{list}}</p>    
                  </li>
              {% endfor %}
          </ul> 
      </div>
      <div class="col s8">
          <h4>Instructions</h4>
          <ol>
              {% for steps in recipe.instructions.splitlines() %}
                  <li>
                      <p>{{steps}}</p>
                  </li>
              {% endfor %}
          </ol> 
      </div>
  </div>

{% endfor %}
{% endblock %}
